// $color-primary: #377db6;
// $color-primary-light: #5fa8df;
// $color-primary-dark: #081a3d;
$color-primary: #37a0bd;
$color-primary-light: #55c5d6;
$color-primary-dark: #ffa101;

$color-secondery: #55c57a;
$color-secondery-light: #7ed56f;
$color-secondery-dark: #28b485;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

$color-fourth-light: #2998ff;
$color-fourth-dark: #5643fa;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-white: #fff;
$color-black: #000;

// font
$defult-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
