.customer {
	font-size: $defult-font-size;
	background-color: rgba($color-white, 0.4);
	padding: 6rem;
	padding-left: 9rem;
	width: 80%;
	margin: 0 auto;
	transform: skewX(-30deg);
	&__text {
		transform: skewX(30deg);
	}
	&__figure {
		width: 15rem;
		height: 15rem;
		float: left;
		shape-outside: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translatex(-3px) skewX(30deg);
		position: relative;
	}
	&__img {
		height: 100%;
		transform: translateX(-3rem) scale(1.4);
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -20%);
		opacity: 0;
		color: $color-white;
	}

	&:hover &__caption {
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	&:hover &__img {
		transform: translateX(-3rem) scale(1.03);
		filter: blur(0.2rem) brightness(0.8);
	}
}
