*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%; // 1rem=10px 10/16=62.5%

	@include responsive(big-desktop) {
		font-size: 75%; //12px
	}

	@include responsive(tab-land) {
		font-size: 56.2%; //9px
	}

	@include responsive(tab-port) {
		font-size: 62.5%; // 8
	}

	@include responsive(phone) {
		font-size: 50%; // 8px
	}
}
